<!DOCTYPE html>
<html>
    <head>
        <title><%= project.projectName %></title>
        <link
            href="public/images/favicon.png"
            rel="icon"
            type="image/gif"
            sizes="16x16"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="../public/css/style.css" />
        <link
            href="public/images/favicon.png"
            rel="icon"
            type="image/gif"
            sizes="16x16"
        />
        <style>
            .flex-container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            .item {
                margin: 10% 0% 0% 0%;
                width: 22%;
                height: 18.5rem;
                margin-left: 68%;
                margin-top: 1%;
                border: 0px solid lightgray;
                background-color: #f3f2f2;
                border-radius: 15px;
                padding: 10px;
            }
            .heading-style {
                font-size: 15px;
                padding: 2%;
            }
            .recommend-style {
                right: -19px;
                top: 16px;
                background-color: #ff8c00;
                font-size: 15px;
                padding: 4px 4px;
                width: 120px;
                margin-left: 61%;
                border-radius: 15px;
            }
            .recommend-style:hover {
                transform: scale(1.2);
            }
            span {
                margin-top: -2%;
                transform: rotate(45deg);
            }
        </style>
        <!-- <script>
            function change_text(){
                document.getElementById("#myButton").innerHTML = "Applied";
            }
        </script> -->
    </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <div class="flex-container">
            <h5
                style="
                    font-size: 20px;
                    margin-left: 66%;
                    background-color: #ffc59b;
                    padding: 0.5%;
                    border-radius: 15px;
                    width: 25%;
                    text-align: center;
                    font-weight: 499;
                "
            >
                Recommended Projects For You!
            </h5>
            <div class="item">
                <h6 class="heading-style">Project Name:Mads libs Generator</h6>
                <h6 class="heading-style">
                    Project Description:One of the best ideas to start
                    experimenting you hands-on python projects for students is
                    working on Mad Libs Generator...
                </h6>
            </div>

            <div class="item">
                <h6 class="heading-style">
                    Project Name:Text Based Adventure Game
                </h6>
                <h6 class="heading-style">
                    Project Description:This is a basic version of the Adventure
                    game. It is completely text-based. In this version of the
                    game, users can move about through different rooms within a
                    single setting, .....
                </h6>
            </div>

            <div class="item">
                <h6 class="heading-style">Project Name:Number Guessing</h6>
                <h6 class="heading-style">
                    Project Description:This is one of the simple python
                    projects yet an exciting one. You can...
                </h6>
            </div>
        </div>

        <section id="services" class="services section-bg"style="
            
        width: 50%;
        height: 100rem;
        margin-left: 1%;
        margin-top: 1%;
        
        border: 0px solid lightgray;
        background-color: #f3f2f2;
        border-radius: 15px;
        padding: 10px;">
            <div class="container-fluid"
            >
                <div class="col-sm-12 text-center mb-4"></div>
                <div class="row row-sm">
                    <div class="col-md-6" style="margin-left: 11%">
                        <div
                            class="_product-detail-content"
                            style="margin-top: -88%"
                        >
                            <center>
                                <p class="_p-name">
                                    <%= project.projectName %>
                                </p>
                            </center>
                            <div class="_p-price-box"style="padding-right:15px;padding-left:15px;">
                                <div class="_p-features">
                                    <ul>
                                        <!-- <li>Project Duration:</li> -->
                                        <!-- <br /> -->
                                        <!-- <p><%= project.duration %></p> -->
                                        <li>Project Category:
                                        
                                        <%= project.category %></p></li>
                                        <li>
                                            <p>
                                                Project Description: <%=
                                                project.description %>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                Experience: <%=
                                                project.experience %>
                                            </p>
                                        </li>
                                        <!-- <li>Apply by date:</li>
                                        <br />
                                        <p>10th June, 2021</p> -->
                                        <li>
                                            <p>
                                                Skills Required: <%=
                                                project.skillsNeeded %>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <br />
                                <form
                                    action=""
                                    method="post"
                                    accept-charset="utf-8"
                                >
                                    <ul class="spe_ul"></ul>
                                    <div class="_p-qty-and-cart">
                                        <div class="_p-add-cart">
                                            <button
                                                type="submit"
                                                onclick="change()"
                                                id="myButton"
                                                class="btn-theme btn buy-btn"
                                                tabindex="0"
                                                style="margin-left: 40%"
                                            >
                                                <i
                                                    class="fa fa-paper-plane"
                                                ></i>
                                                Apply Now
                                            </button>
                                            <!-- <input
                                                type="hidden"
                                                name="pid"
                                                value="18"
                                            />
                                            <input
                                                type="hidden"
                                                name="price"
                                                value="850"
                                            />
                                            <input
                                                type="hidden"
                                                name="url"
                                                value=""
                                            /> -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script>
            function change() {
                let text = document.getElementById("myButton");
                text.innerHTML = "Applied";
                text.style.backgroundColor = "blue";
            }
        </script>
        <%- include('partials/footer.ejs') %>
    </body>
</html>
